<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
    </div>
    <div class="p-4 pt-5">
        <h1><a href="home" class="logo">MitiPortal</a></h1>
        <ul class="nav nav-pills flex-column flex-grow-1 mb-auto">

        <% pages.forEach(page => {%>
            <li class="nav-item" role="presentation">
                <a href="/<%=page.id%>" class="nav-link customnav <%= current_page === page.id ? 'active' : '' %> text-center" >
                    <%=page.pretty%>
                </a>
            </li>
        <%});%>
        </ul>
        <hr>

        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <strong id="username"><%= info.username.data %></strong>
            </a>
            <ul class="dropdown-menu custom-dropdown text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="/profile" id="profileLink">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/logout" href="">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>