<p>You have admin privileges lets go</p>

<div class="row">
    <%- include('../../caliel-logger/site/caliel-views/partials/caliel-alllist.ejs') %>.
</div>
<div class="row">
    <%- include('../../caliel-logger/site/caliel-views/partials/caliel-alllogs.ejs') %>.
</div>