<div id="profilecontent">
    <div class="row ">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                        class="rounded-circle img-fluid" style="width: 150px;">
                    <h5 class="my-3" id="profileName">
                        <%= info.name.data %>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <div id="user-info-div">
                        <% let count=0;%>
                            <% for (const key in info) { %>
                                <% if (count > 0) { %>
                                    <hr>
                                    <% } %>
                                    <% count = count + 1; %>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0 text-muted"><%= info[key].pretty %></p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="mb-0 text-muted"><%= info[key].data %></p>
                                            </div>
                                        </div>
                                        <% }%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>